/* @font-face {
    font-family: ShareTech-Regular;
    src: url(../fonts/ShareTech-Regular.ttf);
}
* {
    font-family: ShareTech-Regular;
} */

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.toolbar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%; /* Hauteur de la barre */
    border-right: 1px solid black;
    overflow-y: scroll;
}
.toolbar-group {
    border-bottom: 1px solid black;
}
.toolbar-button, .toolbar-group-header {
    font-size: 18px;
    padding: 10px;
    display: flex;
    align-items: center;
    width: 100%;
    border: none;
    background-color: inherit;
}
.toolbar-button:hover, .toolbar-group-header:hover, 
.toolbar-button:focus, .toolbar-group-header:focus{
    background-color: rgb(240, 240, 240);
}
.toolbar-button:active, .toolbar-group-header:active{
    background-color: rgb(177, 177, 177);
}
.toolbar-group-header span {
    margin: 0 15px;
}
.toolbar-group-header img {
    width: 50px;
}
.toolbar-group-header .folder-arrow {
    width: 25px;
    margin-left: auto;
    
}
.folder-arrow.down {
    transform: rotate(180deg);
}

.toolbar-subgroup {
    margin-left: 20px;
}
.toolbar-subgroup .toolbar-button {
    border-top: 1px solid rgb(177, 177, 177);
}
