html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}
header {
    margin: 0;
    padding: 20px;
    background-color: var(--accent-bg-header);
}
header > h1 {
    margin: 0;
    color: var(--secondary-fg);
}
.center_container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
table {
    width: 75%;
    min-width: 300px;
    max-width: 1500px;
    border-collapse: collapse;
    border: 1px solid var(--accent-bg-header);
}
th {
    background-color: var(--accent-bg-header);
    border-top: 1px solid var(--accent-bg-header);
    border-bottom: 1px solid var(--accent-bg-header);
    color: var(--secondary-fg);
    padding: 10px;
    text-align: left;
}
td input, td select{
    padding: 0;
    width: 100%;
    align-content: center;
    display: block;
    border-width: 0;
    outline: 1px solid var(--accent-bg-header);
}
td {
    padding: 5px;
    border-top: 1px solid var(--accent-bg-header);
    border-bottom: 1px solid var(--accent-bg-header);
}
.alt-row>tr:nth-child(2n) {
    background-color: var(--secondary-bg);
}