@media print {
    #toolbar {
        display: none;
    }
    #topbar {
        display: none;
    }
    #main-area {
        position: fixed;
        left: 0;
        top: 0;
        overflow: visible;
    }
}