:root {
    --accent-bg-header  : #414141;
    --primary-bg        : #ffffff;
    --secondary-bg      : #dedede;
    --primary-fg        : #000000;
    --secondary-fg      : #959595;
    --link-fg           : #729ab8;
    --info-fg           : #00008b;
    --info-bg           : #d1d1ff;
    --error-fg          : #8b0000;
    --error-bg          : #ffd1d1;
    --valid-fg          : #008b00;
    --valid-bg          : #d1ffd1;
}